.text{
    margin-bottom: 110px;
    margin-left: 24px;
    font-weight:bold;
    font-size: 30px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.container{
    display: flex;
    flex-direction:row; /* Pour aligner verticalement le contenu */
    align-items: center; /* Pour centrer horizontalement le contenu */
    justify-content: center; /* Pour centrer verticalement le contenu */
}

.connexion{
    display: flex;
    align-items: center; /* Pour centrer horizontalement le contenu */
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.form{
    border: 2px solid #000;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -200px;
    z-index: 1;
}
.chef{
    margin-right: 100px;
    z-index: 2;
   
}

.buttonInscription{
    font-weight: bold;
    background-color: #FBB337;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;

}
.mdp{
    background-color: #f9e0de;
    border: none;
    border-bottom: 1px solid #EA4334;
    border-radius: 5px;
    padding-right: 60px;
}
.email{
    background-color: #f9e0de;
    border: none;
    border-bottom: 1px solid #EA4334;
    border-radius: 5px;
    padding-right: 60px;
}
.nom{
    background-color: #f9e0de;
    border: none;
    border-bottom: 1px solid #EA4334;
    border-radius: 5px;
    padding-right: 60px;
}
.prenom{
    background-color: #f9e0de;
    border: none;
    border-bottom: 1px solid #EA4334;
    border-radius: 5px;
    padding-right: 60px;
}

.SeConnecter{
    text-decoration: underline;

}
.bol{
    position: fixed;
    padding-left: 322px;
    margin-top: -220px;
}