<div id="grid-container">

  <app-menu id="c1"></app-menu>

  <!-- profil.component.html -->
  <div id="c2 "class="profile-container">
    <div class="profile">
      <div class="photo-profil">
        <img width="80" height="80" [src]="'https://shareeat.alwaysdata.net/photoProfil/' + profileImage" alt="Photo de profil" class="profile-picture" style="border-radius: 40px;">
      </div>
      <div class="profile-info">
        <h2>{{getPrenomUtilisateurConnecte()}}</h2>
        <p id="pseudo">{{getPseudoUtilisateurConnecte()}}</p>
        <div id="bio" *ngIf="bioUtilisateur$ | async as bio">
          <p>{{ bio }}</p>
        </div>
      </div>
      
      <div class="button-modif">
        <button class="modify-button" (click)="modifierProfil()">Modifier le profil</button>
      </div>
      <!-- <div *ngFor="let bio of bioList$ | async">
        {{ bio }}
      </div> -->
    </div>
    <hr>
    <!-- Ajoute la classe bottom-separator ici -->
    <div class="button-deco">
      <button (click)="deconnexion()">Déconnexion</button>
    </div>
  </div>

</div>

<app-footer></app-footer>
