#parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vh;
    height: 90vh;
}
#detail-recette{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #8fb150, #83ad55, #78a959, #6ea55d, #64a061, #5c9d65, #559a69, #4e976c, #479571, #409275, #3a9079, #368d7c);    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1{
    margin-top: 20px;
    text-decoration: underline;
    color: white;
}

#publie-par{
    position: absolute;
    top: 10px;
    right: 10px;
}

#description{
    margin-top: 70px;
    margin-right: 150px;
    font-size: 20px;
    font-weight:bolder;
    color: white;
}

#ingredients{
    margin-top: 50px;
    margin-right: 150px;
    font-size: 20px;
    font-weight:bolder;
    color: white;
}

#img-container{
    margin-top: 40px;
    height: 400px;
    width: 280px;
    border-radius: 15px;
}

#retour-container{
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    font-weight:bolder;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}