<div id="parent-container">
    <div id="container" *ngIf="recette">
        <div id="detail-recette">
            <h1>{{recette.titre}}</h1>
            <p id="description">Description : <br/> {{recette.description}}</p>
            <p id="ingredients">Ingrédients :  <br/> -{{ recette.ingredient1 }}<br/> -{{ recette.ingredient2 }}<br/> -{{ recette.ingredient3 }}<br/> -{{ recette.ingredient4 }}<br/> -{{ recette.ingredient5 }}</p>

            <p id="publie-par">Publiée par : {{recette.idUtilisateur}}</p>
            <!-- Utilisation de la balise img pour afficher l'image -->
           <div id="img-container" [style.backgroundImage]="'url(https://shareeat.alwaysdata.net/photoRecette/' + recette.imageRecette + ')'" style="background-size: cover;"></div>

        </div>
        <div id="retour-container" (click)="goToAccueil()">
            <a>Retour</a>
        </div>
    </div>
    <div *ngIf="!recette">
        <p>Aucune recette n'a été trouvée !</p>
        <a routerLink="/accueil">Retourner à l'accueil</a>
    </div>
</div>

