<div id="parent-container">
    <div id="container" *ngIf="recette">
        <div id="detail-recette">
            <h1>Fiche descriptive</h1>
            <p id="titre">{{recette.titre}}</p>
            <p id="description">Description : <br/> {{recette.description}}</p>
            <p id="ingredients">Ingrédients :  <br/>{{ recette.ingredient1 }} {{ recette.ingredient2 }} {{ recette.ingredient3 }} {{ recette.ingredient4 }} {{ recette.ingredient5 }}</p>

            <p>Publiée par : {{recette.idUtilisateur}}</p>
            <p>{{recette.imageRecette}}</p>
        </div>
        <div id="retour-container" (click)="goToAccueil()">
            <a>Retour</a>
        </div>
    </div>
    <div *ngIf="!recette">
        <p>Aucune recette n'a été trouvée !</p>
        <a routerLink="/accueil">Retourner à l'accueil</a>
    </div>
</div>

