<div id="menu">
    
  <div class="image-container">
    <img id="logo-menu" src="assets\images\ShareEatLogoNoirBlancSansFond.png" alt="ShareEat">
  </div>

    <hr>
    
    <div id="icons-liens">
      <ul id="grp-icons">
        <li><img class="icon" src="../../assets/images/iconAccueil.png" alt="Accueil"></li>
        <li><img class="icon" src="../../assets/images/iconRecherche.png" alt="Accueil"></li>
        <li><img class="icon" src="../../assets/images/iconMessage.png" alt="Accueil"></li>
        <li><img class="icon" src="../../assets/images/iconFavoris.png" alt="Accueil"></li>
        <li><img class="icon" src="../../assets/images/iconMaGalerie.png" alt="Accueil"></li>
        <li><img class="icon" src="../../assets/images/iconProfil.png" alt="Accueil"></li>
        <li><img class="icon" src="../../assets/images/iconAjouter.png" alt="Accueil"></li>
      </ul>

      <ul>
        <li><a routerLink="/accueil">Accueil</a></li>
        <li><a href="">Recherche</a></li>

        <li><a routerLink="/message">Message</a></li>
        <li><a routerLink="/login">Favoris</a></li>
        <li><a href="">Ma galerie</a></li>
        <li><a routerLink="/profil">Profil</a></li>
        <li><a href="">Ajouter</a></li>
      </ul>
    </div>
    
  </div>
