#menu {
    display: flex;
    font-weight: bold;
    flex-direction: column; /* Afficher les éléments en colonne */
    align-items: center;
    position: sticky;
    top: 0;
    height: 100%;
  }

.image-container {
  margin-top: 15px;
  align-self: center;
  height: 8vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container > #logo-menu {
  //z-index: 999;
  width: 100%;
  height: auto;
}

hr{
  border: 1px solid white;
  align-self: center;
  width: 100%;
  margin-top: 15px;
}

#grp-icons > li{
  margin: 7px 0 6px 0;
}

#icons-liens{
  display: flex;
  flex-direction: row;
}

.icon{
  height: 35px;
  width: 35px;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin-left: 2vh;
  margin-top: 35px;
}

#menu li {
  font-size: 24px;
  text-align: left;
}

#menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

#menu a:hover {
  background-color: darkred;
}

@media only screen and (max-width: 768px) {
  #menu li {
    font-size: 15px;
  }
  
  .icon{
    height: 22px;
    width: 22px;
  }

  #menu ul {
    margin-left: 1vh;
    margin-top: 10px;
  }

  .image-container {
    margin-top: 5px;
  }

  hr{
    margin-top: 5px;
  }

  #grp-icons > li{
    margin: 8.4px 0 12px 0;
  }

}