#hero-banner{
  background-color: aqua;  
  background-image: url("../../assets/images/fondVitrineflou2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; /* Couleur du texte */
  text-align: center;
  height: 100vh; /* Occupe 100% de la hauteur de la vue (viewport) */
  width: 100%; /* Occupe 100% de la largeur de son conteneur */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.image-container {
    max-width: 100%;
}


.image-container > #logo-vitrine {
  width: 28%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .image-container > #logo-vitrine {
    width: 60%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .image-container > #logo-vitrine {
    width: 45%;
  }
}