<div id="menu">
    
  <div class="image-container">
    <img id="logo-menu" src="assets\img\ShareEatLogoNoirBlancSansFond.png" alt="ShareEat">
  </div>

    <hr>
    
    <div id="icons-liens">
      <ul id="grp-icons">
        <li><img class="icon" src="assets/img/iconAccueil.png" alt="Accueil"></li>
        <li><img class="icon" src="assets/img/iconRecherche.png" alt="Accueil"></li>
        <li><img class="icon" src="assets/img/iconMessage.png" alt="Accueil"></li>
        <li><img class="icon" src="assets/img/iconFavoris.png" alt="Accueil"></li>
        <li><img class="icon" src="assets/img/iconMaGalerie.png" alt="Accueil"></li>
        <li><img class="icon" src="assets/img/iconProfil.png" alt="Accueil"></li>
        <li><img class="icon" src="assets/img/iconAjouter.png" alt="Accueil"></li>
      </ul>

      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Recherche</a></li>
        <li><a href="/message">Message</a></li>
        <li><a href="#">Favoris</a></li>
        <li><a href="#">Ma galerie</a></li>
        <li><a href="/profil">Profil</a></li>
        <li><a href="#">Ajouter</a></li>
      </ul>
    </div>
    
  </div>