<div id="main-section">
    
    <div id="titre">
        <p>Découvrir des recettes</p>

        <hr>

        <hr id="hr2">
    </div>
    
    <div id="recettes">
        <!--Faire la boucle pour mettre le bon nombre de composant recette-->
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
    </div>
    

</div>