<div id="grid-container">
    <app-menu id="c1"></app-menu>
    <div id="c2" class="discussion-list">
        <!-- Barre de recherche pour les discussions -->
        <div>
            <label for="pseudoInput">Search User by Pseudo:</label>
            <input id="pseudoInput" [(ngModel)]="pseudo" />
            <button (click)="searchUser()">Search</button>
        </div>

        <div *ngIf="userData">
            <h2>User Details</h2>
            <p>ID: {{ userData.idUtilisateur }}</p>
            <p>Pseudo: {{ userData.pseudo }}</p>
            <p>Prénom: {{ userData.prenom }}</p>
            <p>Nom: {{ userData.nom }}</p>
            <p>Email: {{ userData.mail }}</p>
            <!-- Add more details as needed -->
        </div>
        
    </div>
    <div id="c3" class="conversation">
        <!-- Zone de saisie des messages -->
        <div class="message-input">
            <input type="text" [(ngModel)]="messageToSend" placeholder="Tapez votre message ici...">
            <button (click)="sendMessage()" [disabled]="!messageToSend.trim()">Envoyer</button>
        </div>
        <div *ngFor="let message of messages" class="message">
            <p><strong>{{ message.idSender }}:</strong> {{ message.message }} <span class="timestamp">{{ message.heure | date: 'short' }}</span></p>
          </div>
          
          
        
    </div>
</div>

<app-footer></app-footer>