<div id="grid-container">
    <app-menu id="c1"></app-menu>
    <div id="c2" class="discussion-list">
        <!-- Barre de recherche pour les discussions -->
        <div>
            <label for="searchInput">Chercher un plat ou une personne:</label>
            <input id="searchInput" [(ngModel)]="searchTerm" />
            <button (click)="search()">Search</button>
        </div>

        <div *ngIf="userData">
            <h2>User Details</h2>
            <img id="photo" width="30" height="30" [src]="'https://shareeat.alwaysdata.net/photoProfil/' + userData.photo" alt="." style="border: 2px solid black; border-radius: 15px;">
            <p>Pseudo: {{ userData.pseudo }}</p>
            <p>Prénom: {{ userData.prenom }}</p>
            <p>Nom: {{ userData.nom }}</p>
            <!-- Add more details as needed -->
        </div>
        
    </div>
    <div id="c3" class="conversation">
        <div *ngIf="recipeData && recipeData.length > 0">
            <h2>Résultats de la recherche de recettes :</h2>
            <ul>
              <li *ngFor="let recipe of recipeData">
                <h3>{{ recipe.titre }}</h3>
                <p>Description : {{ recipe.description }}</p>
                <a [routerLink]="['/recette', recipe.idRecette]">
                    <img class="recipe-thumbnail" width="160" height="160" [src]="'https://shareeat.alwaysdata.net/photoRecette/' + recipe.imageRecette" alt="Photo de la recette" style="border: 2px solid black; border-radius: 15px;">
                </a>
                    <!-- Autres détails de la recette à afficher -->
              </li>
            </ul>
        </div>
        <div *ngIf="!recipeData || recipeData.length === 0">
            <p>Aucune recette trouvée pour le terme de recherche "{{ searchTerm }}"</p>
        </div>
            
        
    </div>

    
</div>

<app-footer></app-footer>