<div id="main-section">
    
    <div id="titre">
        <p>Découvrir des recettes</p>

        <hr>

        <hr id="hr2">
    </div>
    
    <div id="recettes">
        <!--Faire la boucle pour mettre le bon nombre de composant recette-->
        <!-- <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette>
        <app-recette></app-recette> -->
        <div *ngFor="let recette of recetteList | paginate: { itemsPerPage: pageSize, currentPage: p }">
            <div (click)="openModal(recette)" id="recette-container" [style.backgroundImage]="'url(https://shareeat.alwaysdata.net/photoRecette/' + recette.imageRecette + ')'" style="background-size: cover;">                
                <p id="titre-recette">{{recette.titre}}</p>
            
                <div id="like-container">❤️</div>
                <div id="note-container">⭐⭐⭐</div>
            </div>
        </div>
    </div>
    
    <!-- Fenêtre contextuelle -->
    <div *ngIf="selectedRecette">
        <div id="modal-container">
            <div id="modal">
                <p id="titre-recette">{{ selectedRecette.titre }}</p>
                <!-- <p id="nom-utilisateur">Publié par {{ selectedRecette.idUtilisateur }}</p> -->
                <p id="description">Description :  <br/>{{ selectedRecette.description }}</p>
                <p id="ingredients">Ingrédients :  <br/>{{ selectedRecette.ingredient1 }} {{ selectedRecette.ingredient2 }} {{ selectedRecette.ingredient3 }} {{ selectedRecette.ingredient4 }} {{ selectedRecette.ingredient5 }}</p>
                

                <div id="commentaires-section">
                    <p>Commentaires : </p>
                    <div *ngIf="commentairesList.length > 0; else noCommentaires">
                        <div *ngFor="let commentaire of commentairesList">
                            <p>{{ commentaire.contenu }}</p>
                            <p>Commentaire de : {{ commentaire.userDetails.nom }} {{ commentaire.userDetails.prenom }}</p>
                            <!-- Autres détails du commentaire -->
                        </div>
                    </div>
                    <ng-template #noCommentaires>
                        <p>Aucun commentaire pour cette recette.</p>
                    </ng-template>
                </div>

                <button id="fermer" (click)="closeModal()">×</button>
                <button id="en-savoir-plus" (click)="goToRecette(selectedRecette)">En savoir plus →</button>
            </div>
        </div>

    </div>

    <div id="pagination-container">
        <pagination-controls (pageChange)="p = $event" 
        previousLabel="Précédent"
        nextLabel="Suivant"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="Vous êtes sur la page">
        </pagination-controls>
    </div>

</div>