#grille {
    display: grid;
    grid-template-rows: 100vh 50fr 5fr;
    grid-template-columns: 0.45fr 1fr 1fr 1fr;
    height: 2900px; /* Hauteur totale de la grille, ajustez selon vos besoins */
}

@media only screen and (max-width: 1720px) {
    #grille {
        height: 2880px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

@media only screen and (max-width: 1471px) {
    #grille {
        height: 3200px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

@media only screen and (max-width: 1161px) {
    #grille {
        height: 4150px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

@media only screen and (max-width: 851px) {
    #grille {
        height: 3500px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

@media only screen and (max-width: 768px) {
    #grille {
        height: 3350px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

@media only screen and (max-width: 673px) {
    #grille {
        height: 2950px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

@media only screen and (max-width: 476px) {
    #grille {
        height: 2950px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

@media only screen and (max-width: 380px) {
    #grille {
        height: 2550px; /* Hauteur totale de la grille, ajustez selon vos besoins */
    }
}

#c1{
    grid-row: 1 / span 1;
    grid-column: 1 / span 4; 
}

#c2{
    grid-row: 2 / span 1; /* La deuxième ligne, prenant la hauteur complète (auto) */
    grid-column: 1 / 2;
    background: rgb(255,45,45);
    background: linear-gradient(132deg, rgba(255,45,45,1) 10%, rgba(224,124,17,1) 40%);
}


#c3{
    grid-row: 2 / span 1;
    grid-column: 2 / span 4;
}

#c4{
    grid-row: 3 / span 1; /* La troisième ligne, prenant la hauteur complète (auto) */
    grid-column: 1 / span 4; /* Les deux colonnes pour la troisième ligne */
}